[Unit]
Description=PhotoPrism service
After=network.target

[Service]
Type=simple
User={{ photoprism__user }}
WorkingDirectory={{ photoprism__install_dir }}
EnvironmentFile={{ photoprism__home}}/.env
ExecStart={{ photoprism__install_dir }}/photoprism start

[Install]
WantedBy=multi-user.target
